
*.xcuserstate

*.xcbkptlist

iOS/2golf.xcodeproj/xcuserdata/rolandxu.xcuserdatad/xcschemes/xcschememanagement.plist

iOS/2golf.xcodeproj/project.xcworkspace/xcuserdata/leejustin.xcuserdatad/UserInterfaceState.xcuserstate

iOS/2golf.xcodeproj/project.xcworkspace/xcuserdata/*

*.xcuserstate

*.xcbkptlist

*.xcuserstate

*.xcuserstate

iOS/2golf.xcodeproj/xcuserdata/2golf.xcuserdatad/xcschemes/2golf.xcscheme

*.xcuserstate

*.xcscheme

*.xcbkptlist

*.xcscheme

iOS/2golf.xcodeproj/xcuserdata/*

iOS/2golf.xcodeproj/project.xcworkspace/xcuserdata/*

*.xcuserdatad

*.xccheckout

*.xccheckout

iOS/2golf.xcodeproj/project.xcworkspace/xcshareddata/2golf.xccheckout

*.xccheckout
